body {
    background-color: #000;
}

a {
    margin: 5px;
}

.App {
    min-height: 80vh;
    width: 80%;
    text-align: center;
    margin: 20px auto;
    background-color: #eee;
    padding: 50px;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 3px solid #FFF;
    margin: 5px;
    padding: 10px;
}

.counter {
    background-color: #666;
    h3 {
        margin: 10px;
    }
    p {
        font-weight: bold;
    }
    button {
        font-weight: bold;
        padding: 5px;
    }
}

.is-active {
    color: burlywood;
}